<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="localAssociationProvince">
      <h2 data-cy="localAssociationProvinceDetailsHeading">
        <span jhiTranslate="grafismoApp.localAssociationProvince.detail.title">Local Association Province</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ localAssociationProvince.id }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.localAssociationProvince.name">Name</span></dt>
        <dd>
          <span>{{ localAssociationProvince.name }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.localAssociationProvince.association">Association</span></dt>
        <dd>
          <div *ngIf="localAssociationProvince.association">
            <a [routerLink]="['/local-association-region', localAssociationProvince.association?.id, 'view']">{{
              localAssociationProvince.association?.name
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/local-association-province', localAssociationProvince.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
