<div>
  <h2 id="page-heading" data-cy="PersonHeading">
    <span jhiTranslate="grafismoApp.person.home.title">People</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="grafismoApp.person.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-person"
        [routerLink]="['/person/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="grafismoApp.person.home.createLabel"> Create a new Person </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="people?.length === 0">
    <span jhiTranslate="grafismoApp.person.home.notFound">No people found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="people && people.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="grafismoApp.person.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="middleName">
            <span jhiTranslate="grafismoApp.person.middleName">Middle Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="surname1">
            <span jhiTranslate="grafismoApp.person.surname1">Surname 1</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="surname2">
            <span jhiTranslate="grafismoApp.person.surname2">Surname 2</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nicknames">
            <span jhiTranslate="grafismoApp.person.nicknames">Nicknames</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="graphicsName">
            <span jhiTranslate="grafismoApp.person.graphicsName">Graphics Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="longGraphicsName">
            <span jhiTranslate="grafismoApp.person.longGraphicsName">Long Graphics Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="callnames">
            <span jhiTranslate="grafismoApp.person.callnames">Callnames</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="birthDate">
            <span jhiTranslate="grafismoApp.person.birthDate">Birth Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="deathDate">
            <span jhiTranslate="grafismoApp.person.deathDate">Death Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="mediumShotPhoto">
            <span jhiTranslate="grafismoApp.person.mediumShotPhoto">Medium Shot Photo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fullShotPhoto">
            <span jhiTranslate="grafismoApp.person.fullShotPhoto">Full Shot Photo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="socialMedia">
            <span jhiTranslate="grafismoApp.person.socialMedia">Social Media</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="details">
            <span jhiTranslate="grafismoApp.person.details">Details</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="miscData">
            <span jhiTranslate="grafismoApp.person.miscData">Misc Data</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nationality.name">
            <span jhiTranslate="grafismoApp.person.nationality">Nationality</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="birthplace.graphicsName">
            <span jhiTranslate="grafismoApp.person.birthplace">Birthplace</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let person of people; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/person', person.id, 'view']">{{ person.id }}</a>
          </td>
          <td>{{ person.name }}</td>
          <td>{{ person.middleName }}</td>
          <td>{{ person.surname1 }}</td>
          <td>{{ person.surname2 }}</td>
          <td>{{ person.nicknames }}</td>
          <td>{{ person.graphicsName }}</td>
          <td>{{ person.longGraphicsName }}</td>
          <td>{{ person.callnames }}</td>
          <td>{{ person.birthDate }}</td>
          <td>{{ person.deathDate }}</td>
          <td>
            <a *ngIf="person.mediumShotPhoto" (click)="openFile(person.mediumShotPhoto, person.mediumShotPhotoContentType)">
              <img
                [src]="'data:' + person.mediumShotPhotoContentType + ';base64,' + person.mediumShotPhoto"
                style="max-height: 30px"
                alt="person image"
              />
            </a>
            <span *ngIf="person.mediumShotPhoto">{{ person.mediumShotPhotoContentType }}, {{ byteSize(person.mediumShotPhoto) }}</span>
          </td>
          <td>
            <a *ngIf="person.fullShotPhoto" (click)="openFile(person.fullShotPhoto, person.fullShotPhotoContentType)">
              <img
                [src]="'data:' + person.fullShotPhotoContentType + ';base64,' + person.fullShotPhoto"
                style="max-height: 30px"
                alt="person image"
              />
            </a>
            <span *ngIf="person.fullShotPhoto">{{ person.fullShotPhotoContentType }}, {{ byteSize(person.fullShotPhoto) }}</span>
          </td>
          <td>{{ person.socialMedia }}</td>
          <td>{{ person.details }}</td>
          <td>{{ person.miscData }}</td>
          <td>
            <div *ngIf="person.nationality">
              <a [routerLink]="['/country', person.nationality?.id, 'view']">{{ person.nationality?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="person.birthplace">
              <a [routerLink]="['/location', person.birthplace?.id, 'view']">{{ person.birthplace?.graphicsName }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/person', person.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/person', person.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(person)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
