<div>
  <h2 id="page-heading" data-cy="MatchActionHeading">
    <span jhiTranslate="grafismoApp.matchAction.home.title">Match Actions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="grafismoApp.matchAction.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-match-action"
        [routerLink]="['/match-action/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="grafismoApp.matchAction.home.createLabel"> Create a new Match Action </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="matchActions?.length === 0">
    <span jhiTranslate="grafismoApp.matchAction.home.notFound">No matchActions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="matchActions && matchActions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="timestamp">
            <span jhiTranslate="grafismoApp.matchAction.timestamp">Timestamp</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="details">
            <span jhiTranslate="grafismoApp.matchAction.details">Details</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="miscData">
            <span jhiTranslate="grafismoApp.matchAction.miscData">Misc Data</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="match.id">
            <span jhiTranslate="grafismoApp.matchAction.match">Match</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let matchAction of matchActions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/match-action', matchAction.id, 'view']">{{ matchAction.id }}</a>
          </td>
          <td>{{ matchAction.timestamp }}</td>
          <td>{{ matchAction.details }}</td>
          <td>{{ matchAction.miscData }}</td>
          <td>
            <div *ngIf="matchAction.match">
              <a [routerLink]="['/match', matchAction.match?.id, 'view']">{{ matchAction.match?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/match-action', matchAction.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/match-action', matchAction.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(matchAction)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
