<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="broadcast">
      <h2 data-cy="broadcastDetailsHeading"><span jhiTranslate="grafismoApp.broadcast.detail.title">Broadcast</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ broadcast.id }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.broadcast.miscData">Misc Data</span></dt>
        <dd>
          <span>{{ broadcast.miscData }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.broadcast.match">Match</span></dt>
        <dd>
          <div *ngIf="broadcast.match">
            <a [routerLink]="['/match', broadcast.match?.id, 'view']">{{ broadcast.match?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="grafismoApp.broadcast.systemConfiguration">System Configuration</span></dt>
        <dd>
          <div *ngIf="broadcast.systemConfiguration">
            <a [routerLink]="['/system-configuration', broadcast.systemConfiguration?.id, 'view']">{{
              broadcast.systemConfiguration?.id
            }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="grafismoApp.broadcast.broadcastPersonnelMember">Broadcast Personnel Member</span></dt>
        <dd>
          <span *ngFor="let broadcastPersonnelMember of broadcast.broadcastPersonnelMembers; let last = last">
            <a [routerLink]="['/broadcast-personnel-member', broadcastPersonnelMember?.id, 'view']">{{
              broadcastPersonnelMember.graphicsName
            }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/broadcast', broadcast.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
