<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-player-heading" data-cy="PlayerCreateUpdateHeading" jhiTranslate="grafismoApp.player.home.createOrEditLabel">
        Create or edit a Player
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="grafismoApp.player.shirtName" for="field_shirtName">Shirt Name</label>
          <input type="text" class="form-control" name="shirtName" id="field_shirtName" data-cy="shirtName" formControlName="shirtName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="grafismoApp.player.height" for="field_height">Height</label>
          <input type="number" class="form-control" name="height" id="field_height" data-cy="height" formControlName="height" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="grafismoApp.player.weight" for="field_weight">Weight</label>
          <input type="number" class="form-control" name="weight" id="field_weight" data-cy="weight" formControlName="weight" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="grafismoApp.player.strongerFoot" for="field_strongerFoot">Stronger Foot</label>
          <select class="form-control" name="strongerFoot" formControlName="strongerFoot" id="field_strongerFoot" data-cy="strongerFoot">
            <option [ngValue]="null">{{ 'grafismoApp.Side.null' | translate }}</option>
            <option *ngFor="let side of sideValues" [value]="side">{{ 'grafismoApp.Side.' + side | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="grafismoApp.player.preferredSide" for="field_preferredSide">Preferred Side</label>
          <select
            class="form-control"
            name="preferredSide"
            formControlName="preferredSide"
            id="field_preferredSide"
            data-cy="preferredSide"
          >
            <option [ngValue]="null">{{ 'grafismoApp.Side.null' | translate }}</option>
            <option *ngFor="let side of sideValues" [value]="side">{{ 'grafismoApp.Side.' + side | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="grafismoApp.player.contractUntil" for="field_contractUntil">Contract Until</label>
          <input
            type="text"
            class="form-control"
            name="contractUntil"
            id="field_contractUntil"
            data-cy="contractUntil"
            formControlName="contractUntil"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="grafismoApp.player.retirementDate" for="field_retirementDate">Retirement Date</label>
          <input
            type="text"
            class="form-control"
            name="retirementDate"
            id="field_retirementDate"
            data-cy="retirementDate"
            formControlName="retirementDate"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="grafismoApp.player.miscData" for="field_miscData">Misc Data</label>
          <input type="text" class="form-control" name="miscData" id="field_miscData" data-cy="miscData" formControlName="miscData" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="grafismoApp.player.person" for="field_person">Person</label>
          <select class="form-control" id="field_person" data-cy="person" name="person" formControlName="person">
            <option *ngIf="editForm.get(['person'])!.value == null" [ngValue]="null" selected></option>
            <option
              [ngValue]="personOption.id === editForm.get('person')!.value?.id ? editForm.get('person')!.value : personOption"
              *ngFor="let personOption of peopleCollection; trackBy: trackPersonById"
            >
              {{ personOption.graphicsName }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['person'])!.invalid && (editForm.get(['person'])!.dirty || editForm.get(['person'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['person'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label jhiTranslate="grafismoApp.player.position" for="field_positions">Position</label>
          <select class="form-control" id="field_positions" data-cy="position" multiple name="positions" formControlName="positions">
            <option
              [ngValue]="getSelectedPosition(positionOption, editForm.get('positions')!.value)"
              *ngFor="let positionOption of positionsSharedCollection; trackBy: trackPositionById"
            >
              {{ positionOption.abb }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
