<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="matchday">
      <h2 data-cy="matchdayDetailsHeading"><span jhiTranslate="grafismoApp.matchday.detail.title">Matchday</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ matchday.id }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.matchday.name">Name</span></dt>
        <dd>
          <span>{{ matchday.name }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.matchday.graphicsName">Graphics Name</span></dt>
        <dd>
          <span>{{ matchday.graphicsName }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.matchday.number">Number</span></dt>
        <dd>
          <span>{{ matchday.number }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.matchday.competition">Competition</span></dt>
        <dd>
          <div *ngIf="matchday.competition">
            <a [routerLink]="['/competition', matchday.competition?.id, 'view']">{{ matchday.competition?.graphicsName }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/matchday', matchday.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
