<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="location">
      <h2 data-cy="locationDetailsHeading"><span jhiTranslate="grafismoApp.location.detail.title">Location</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ location.id }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.location.name">Name</span></dt>
        <dd>
          <span>{{ location.name }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.location.graphicsName">Graphics Name</span></dt>
        <dd>
          <span>{{ location.graphicsName }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.location.population">Population</span></dt>
        <dd>
          <span>{{ location.population }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.location.censusYear">Census Year</span></dt>
        <dd>
          <span>{{ location.censusYear }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.location.denonym">Denonym</span></dt>
        <dd>
          <span>{{ location.denonym }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.location.country">Country</span></dt>
        <dd>
          <div *ngIf="location.country">
            <a [routerLink]="['/country', location.country?.id, 'view']">{{ location.country?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/location', location.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
