<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="teamStaffMember">
      <h2 data-cy="teamStaffMemberDetailsHeading">
        <span jhiTranslate="grafismoApp.teamStaffMember.detail.title">Team Staff Member</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ teamStaffMember.id }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.teamStaffMember.role">Role</span></dt>
        <dd>
          <span jhiTranslate="{{ 'grafismoApp.StaffMemberRole.' + teamStaffMember.role }}">{{ teamStaffMember.role }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.teamStaffMember.person">Person</span></dt>
        <dd>
          <div *ngIf="teamStaffMember.person">
            <a [routerLink]="['/person', teamStaffMember.person?.id, 'view']">{{ teamStaffMember.person?.graphicsName }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="grafismoApp.teamStaffMember.team">Team</span></dt>
        <dd>
          <div *ngIf="teamStaffMember.team">
            <a [routerLink]="['/team', teamStaffMember.team?.id, 'view']">{{ teamStaffMember.team?.graphicsName }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/team-staff-member', teamStaffMember.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
