<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="staffMember">
      <h2 data-cy="staffMemberDetailsHeading"><span jhiTranslate="grafismoApp.staffMember.detail.title">Staff Member</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ staffMember.id }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.staffMember.graphicsName">Graphics Name</span></dt>
        <dd>
          <span>{{ staffMember.graphicsName }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.staffMember.longGraphicsName">Long Graphics Name</span></dt>
        <dd>
          <span>{{ staffMember.longGraphicsName }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.staffMember.defaultRole">Default Role</span></dt>
        <dd>
          <span jhiTranslate="{{ 'grafismoApp.StaffMemberRole.' + staffMember.defaultRole }}">{{ staffMember.defaultRole }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.staffMember.contractUntil">Contract Until</span></dt>
        <dd>
          <span>{{ staffMember.contractUntil }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.staffMember.retirementDate">Retirement Date</span></dt>
        <dd>
          <span>{{ staffMember.retirementDate }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.staffMember.miscData">Misc Data</span></dt>
        <dd>
          <span>{{ staffMember.miscData }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.staffMember.person">Person</span></dt>
        <dd>
          <div *ngIf="staffMember.person">
            <a [routerLink]="['/person', staffMember.person?.id, 'view']">{{ staffMember.person?.graphicsName }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/staff-member', staffMember.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
