<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="lineup">
      <h2 data-cy="lineupDetailsHeading"><span jhiTranslate="grafismoApp.lineup.detail.title">Lineup</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ lineup.id }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.lineup.details">Details</span></dt>
        <dd>
          <span>{{ lineup.details }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.lineup.miscData">Misc Data</span></dt>
        <dd>
          <span>{{ lineup.miscData }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.lineup.captain">Captain</span></dt>
        <dd>
          <div *ngIf="lineup.captain">
            <a [routerLink]="['/match-player', lineup.captain?.id, 'view']">{{ lineup.captain?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="grafismoApp.lineup.dt">Dt</span></dt>
        <dd>
          <div *ngIf="lineup.dt">
            <a [routerLink]="['/team-staff-member', lineup.dt?.id, 'view']">{{ lineup.dt?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="grafismoApp.lineup.dt2">Dt 2</span></dt>
        <dd>
          <div *ngIf="lineup.dt2">
            <a [routerLink]="['/team-staff-member', lineup.dt2?.id, 'view']">{{ lineup.dt2?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="grafismoApp.lineup.teamDelegate">Team Delegate</span></dt>
        <dd>
          <div *ngIf="lineup.teamDelegate">
            <a [routerLink]="['/team-staff-member', lineup.teamDelegate?.id, 'view']">{{ lineup.teamDelegate?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="grafismoApp.lineup.formation">Formation</span></dt>
        <dd>
          <div *ngIf="lineup.formation">
            <a [routerLink]="['/formation', lineup.formation?.id, 'view']">{{ lineup.formation?.graphicsName }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="grafismoApp.lineup.matchPlayer">Match Player</span></dt>
        <dd>
          <span *ngFor="let matchPlayer of lineup.matchPlayers; let last = last">
            <a [routerLink]="['/match-player', matchPlayer?.id, 'view']">{{ matchPlayer.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/lineup', lineup.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
