<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="referee">
      <h2 data-cy="refereeDetailsHeading"><span jhiTranslate="grafismoApp.referee.detail.title">Referee</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ referee.id }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.referee.person">Person</span></dt>
        <dd>
          <div *ngIf="referee.person">
            <a [routerLink]="['/person', referee.person?.id, 'view']">{{ referee.person?.graphicsName }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="grafismoApp.referee.association">Association</span></dt>
        <dd>
          <div *ngIf="referee.association">
            <a [routerLink]="['/local-association-province', referee.association?.id, 'view']">{{ referee.association?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/referee', referee.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
