<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="action">
      <h2 data-cy="actionDetailsHeading"><span jhiTranslate="grafismoApp.action.detail.title">Action</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ action.id }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.action.minute">Minute</span></dt>
        <dd>
          <span>{{ action.minute }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.action.second">Second</span></dt>
        <dd>
          <span>{{ action.second }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.action.period">Period</span></dt>
        <dd>
          <span>{{ action.period }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.action.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'grafismoApp.ActionType.' + action.type }}">{{ action.type }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.action.status">Status</span></dt>
        <dd>
          <span>{{ action.status }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.action.matchStats">Match Stats</span></dt>
        <dd>
          <div *ngIf="action.matchStats">
            <a [routerLink]="['/match-stats', action.matchStats?.id, 'view']">{{ action.matchStats?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="grafismoApp.action.player">Player</span></dt>
        <dd>
          <span *ngFor="let player of action.players; let last = last">
            <a [routerLink]="['/player', player?.id, 'view']">{{ player.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/action', action.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
