<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="team">
      <h2 data-cy="teamDetailsHeading"><span jhiTranslate="grafismoApp.team.detail.title">Team</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ team.id }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.team.name">Name</span></dt>
        <dd>
          <span>{{ team.name }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.team.graphicsName">Graphics Name</span></dt>
        <dd>
          <span>{{ team.graphicsName }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.team.abb">Abb</span></dt>
        <dd>
          <span>{{ team.abb }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.team.badge">Badge</span></dt>
        <dd>
          <div *ngIf="team.badge">
            <a (click)="openFile(team.badge, team.badgeContentType)" jhiTranslate="entity.action.open">open</a>
            {{ team.badgeContentType }}, {{ byteSize(team.badge) }}
          </div>
        </dd>
        <dt><span jhiTranslate="grafismoApp.team.monocBadge">Monoc Badge</span></dt>
        <dd>
          <div *ngIf="team.monocBadge">
            <a (click)="openFile(team.monocBadge, team.monocBadgeContentType)" jhiTranslate="entity.action.open">open</a>
            {{ team.monocBadgeContentType }}, {{ byteSize(team.monocBadge) }}
          </div>
        </dd>
        <dt><span jhiTranslate="grafismoApp.team.preferredFormation">Preferred Formation</span></dt>
        <dd>
          <div *ngIf="team.preferredFormation">
            <a [routerLink]="['/formation', team.preferredFormation?.id, 'view']">{{ team.preferredFormation?.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="grafismoApp.team.stadium">Stadium</span></dt>
        <dd>
          <span *ngFor="let stadium of team.stadiums; let last = last">
            <a [routerLink]="['/stadium', stadium?.id, 'view']">{{ stadium.graphicsName }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/team', team.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
