<div>
  <h2 id="page-heading" data-cy="LineupHeading">
    <span jhiTranslate="grafismoApp.lineup.home.title">Lineups</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="grafismoApp.lineup.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-lineup"
        [routerLink]="['/lineup/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="grafismoApp.lineup.home.createLabel"> Create a new Lineup </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="lineups?.length === 0">
    <span jhiTranslate="grafismoApp.lineup.home.notFound">No lineups found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="lineups && lineups.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="details">
            <span jhiTranslate="grafismoApp.lineup.details">Details</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="miscData">
            <span jhiTranslate="grafismoApp.lineup.miscData">Misc Data</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="captain.id">
            <span jhiTranslate="grafismoApp.lineup.captain">Captain</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dt.id"><span jhiTranslate="grafismoApp.lineup.dt">Dt</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dt2.id"><span jhiTranslate="grafismoApp.lineup.dt2">Dt 2</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="teamDelegate.id">
            <span jhiTranslate="grafismoApp.lineup.teamDelegate">Team Delegate</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="formation.graphicsName">
            <span jhiTranslate="grafismoApp.lineup.formation">Formation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let lineup of lineups; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/lineup', lineup.id, 'view']">{{ lineup.id }}</a>
          </td>
          <td>{{ lineup.details }}</td>
          <td>{{ lineup.miscData }}</td>
          <td>
            <div *ngIf="lineup.captain">
              <a [routerLink]="['/match-player', lineup.captain?.id, 'view']">{{ lineup.captain?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="lineup.dt">
              <a [routerLink]="['/team-staff-member', lineup.dt?.id, 'view']">{{ lineup.dt?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="lineup.dt2">
              <a [routerLink]="['/team-staff-member', lineup.dt2?.id, 'view']">{{ lineup.dt2?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="lineup.teamDelegate">
              <a [routerLink]="['/team-staff-member', lineup.teamDelegate?.id, 'view']">{{ lineup.teamDelegate?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="lineup.formation">
              <a [routerLink]="['/formation', lineup.formation?.id, 'view']">{{ lineup.formation?.graphicsName }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/lineup', lineup.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/lineup', lineup.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(lineup)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
