<div>
  <h2 id="page-heading" data-cy="MatchPlayerHeading">
    <span jhiTranslate="grafismoApp.matchPlayer.home.title">Match Players</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="grafismoApp.matchPlayer.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-match-player"
        [routerLink]="['/match-player/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="grafismoApp.matchPlayer.home.createLabel"> Create a new Match Player </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="matchPlayers?.length === 0">
    <span jhiTranslate="grafismoApp.matchPlayer.home.notFound">No matchPlayers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="matchPlayers && matchPlayers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="shirtNumber">
            <span jhiTranslate="grafismoApp.matchPlayer.shirtNumber">Shirt Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="isWarned">
            <span jhiTranslate="grafismoApp.matchPlayer.isWarned">Is Warned</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="player.id">
            <span jhiTranslate="grafismoApp.matchPlayer.player">Player</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="position.abb">
            <span jhiTranslate="grafismoApp.matchPlayer.position">Position</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let matchPlayer of matchPlayers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/match-player', matchPlayer.id, 'view']">{{ matchPlayer.id }}</a>
          </td>
          <td>{{ matchPlayer.shirtNumber }}</td>
          <td>{{ matchPlayer.isWarned }}</td>
          <td>
            <div *ngIf="matchPlayer.player">
              <a [routerLink]="['/player', matchPlayer.player?.id, 'view']">{{ matchPlayer.player?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="matchPlayer.position">
              <a [routerLink]="['/position', matchPlayer.position?.id, 'view']">{{ matchPlayer.position?.abb }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/match-player', matchPlayer.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/match-player', matchPlayer.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(matchPlayer)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
