<div>
  <h2 id="page-heading" data-cy="TeamStaffMemberHeading">
    <span jhiTranslate="grafismoApp.teamStaffMember.home.title">Team Staff Members</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="grafismoApp.teamStaffMember.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-team-staff-member"
        [routerLink]="['/team-staff-member/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="grafismoApp.teamStaffMember.home.createLabel"> Create a new Team Staff Member </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="teamStaffMembers?.length === 0">
    <span jhiTranslate="grafismoApp.teamStaffMember.home.notFound">No teamStaffMembers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="teamStaffMembers && teamStaffMembers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="role">
            <span jhiTranslate="grafismoApp.teamStaffMember.role">Role</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="person.graphicsName">
            <span jhiTranslate="grafismoApp.teamStaffMember.person">Person</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="team.graphicsName">
            <span jhiTranslate="grafismoApp.teamStaffMember.team">Team</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let teamStaffMember of teamStaffMembers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/team-staff-member', teamStaffMember.id, 'view']">{{ teamStaffMember.id }}</a>
          </td>
          <td jhiTranslate="{{ 'grafismoApp.StaffMemberRole.' + teamStaffMember.role }}">{{ teamStaffMember.role }}</td>
          <td>
            <div *ngIf="teamStaffMember.person">
              <a [routerLink]="['/person', teamStaffMember.person?.id, 'view']">{{ teamStaffMember.person?.graphicsName }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="teamStaffMember.team">
              <a [routerLink]="['/team', teamStaffMember.team?.id, 'view']">{{ teamStaffMember.team?.graphicsName }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/team-staff-member', teamStaffMember.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/team-staff-member', teamStaffMember.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(teamStaffMember)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
