<div>
  <h2 id="page-heading" data-cy="StaffMemberHeading">
    <span jhiTranslate="grafismoApp.staffMember.home.title">Staff Members</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="grafismoApp.staffMember.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-staff-member"
        [routerLink]="['/staff-member/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="grafismoApp.staffMember.home.createLabel"> Create a new Staff Member </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="staffMembers?.length === 0">
    <span jhiTranslate="grafismoApp.staffMember.home.notFound">No staffMembers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="staffMembers && staffMembers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="defaultRole">
            <span jhiTranslate="grafismoApp.staffMember.defaultRole">Default Role</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="contractUntil">
            <span jhiTranslate="grafismoApp.staffMember.contractUntil">Contract Until</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="retirementDate">
            <span jhiTranslate="grafismoApp.staffMember.retirementDate">Retirement Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="miscData">
            <span jhiTranslate="grafismoApp.staffMember.miscData">Misc Data</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="person.graphicsName">
            <span jhiTranslate="grafismoApp.staffMember.person">Person</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let staffMember of staffMembers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/staff-member', staffMember.id, 'view']">{{ staffMember.id }}</a>
          </td>
          <td jhiTranslate="{{ 'grafismoApp.StaffMemberRole.' + staffMember.defaultRole }}">{{ staffMember.defaultRole }}</td>
          <td>{{ staffMember.contractUntil }}</td>
          <td>{{ staffMember.retirementDate }}</td>
          <td>{{ staffMember.miscData }}</td>
          <td>
            <div *ngIf="staffMember.person">
              <a [routerLink]="['/person', staffMember.person?.id, 'view']">{{ staffMember.person?.graphicsName }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/staff-member', staffMember.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/staff-member', staffMember.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(staffMember)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
