<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-match-player-heading"
        data-cy="MatchPlayerCreateUpdateHeading"
        jhiTranslate="grafismoApp.matchPlayer.home.createOrEditLabel"
      >
        Create or edit a Match Player
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="grafismoApp.matchPlayer.shirtNumber" for="field_shirtNumber">Shirt Number</label>
          <input
            type="number"
            class="form-control"
            name="shirtNumber"
            id="field_shirtNumber"
            data-cy="shirtNumber"
            formControlName="shirtNumber"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="grafismoApp.matchPlayer.isYouth" for="field_isYouth">Is Youth</label>
          <input type="number" class="form-control" name="isYouth" id="field_isYouth" data-cy="isYouth" formControlName="isYouth" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="grafismoApp.matchPlayer.isWarned" for="field_isWarned">Is Warned</label>
          <input type="number" class="form-control" name="isWarned" id="field_isWarned" data-cy="isWarned" formControlName="isWarned" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="grafismoApp.matchPlayer.miscData" for="field_miscData">Misc Data</label>
          <input type="text" class="form-control" name="miscData" id="field_miscData" data-cy="miscData" formControlName="miscData" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="grafismoApp.matchPlayer.teamPlayer" for="field_teamPlayer">Team Player</label>
          <select class="form-control" id="field_teamPlayer" data-cy="teamPlayer" name="teamPlayer" formControlName="teamPlayer">
            <option *ngIf="!editForm.get('teamPlayer')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                teamPlayerOption.id === editForm.get('teamPlayer')!.value?.id ? editForm.get('teamPlayer')!.value : teamPlayerOption
              "
              *ngFor="let teamPlayerOption of teamPlayersSharedCollection; trackBy: trackTeamPlayerById"
            >
              {{ teamPlayerOption.id }}
            </option>
          </select>
        </div>
        <div
          *ngIf="editForm.get(['teamPlayer'])!.invalid && (editForm.get(['teamPlayer'])!.dirty || editForm.get(['teamPlayer'])!.touched)"
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['teamPlayer'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="grafismoApp.matchPlayer.position" for="field_position">Position</label>
          <select class="form-control" id="field_position" data-cy="position" name="position" formControlName="position">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="positionOption.id === editForm.get('position')!.value?.id ? editForm.get('position')!.value : positionOption"
              *ngFor="let positionOption of positionsSharedCollection; trackBy: trackPositionById"
            >
              {{ positionOption.abb }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
