<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-referee-heading" data-cy="RefereeCreateUpdateHeading" jhiTranslate="grafismoApp.referee.home.createOrEditLabel">
        Create or edit a Referee
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="grafismoApp.referee.person" for="field_person">Person</label>
          <select class="form-control" id="field_person" data-cy="person" name="person" formControlName="person">
            <option *ngIf="editForm.get(['person'])!.value == null" [ngValue]="null" selected></option>
            <option
              [ngValue]="personOption.id === editForm.get('person')!.value?.id ? editForm.get('person')!.value : personOption"
              *ngFor="let personOption of peopleCollection; trackBy: trackPersonById"
            >
              {{ personOption.graphicsName }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['person'])!.invalid && (editForm.get(['person'])!.dirty || editForm.get(['person'])!.touched)">
          <small class="form-text text-danger" *ngIf="editForm.get(['person'])?.errors?.required" jhiTranslate="entity.validation.required">
            This field is required.
          </small>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="grafismoApp.referee.association" for="field_association">Association</label>
          <select class="form-control" id="field_association" data-cy="association" name="association" formControlName="association">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                localAssociationProvinceOption.id === editForm.get('association')!.value?.id
                  ? editForm.get('association')!.value
                  : localAssociationProvinceOption
              "
              *ngFor="
                let localAssociationProvinceOption of localAssociationProvincesSharedCollection;
                trackBy: trackLocalAssociationProvinceById
              "
            >
              {{ localAssociationProvinceOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
