<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-person-heading" data-cy="PersonCreateUpdateHeading" jhiTranslate="grafismoApp.person.home.createOrEditLabel">
        Create or edit a Person
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="grafismoApp.person.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="grafismoApp.person.surname1" for="field_surname1">Surname 1</label>
          <input type="text" class="form-control" name="surname1" id="field_surname1" data-cy="surname1" formControlName="surname1" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="grafismoApp.person.surname2" for="field_surname2">Surname 2</label>
          <input type="text" class="form-control" name="surname2" id="field_surname2" data-cy="surname2" formControlName="surname2" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="grafismoApp.person.nickname" for="field_nickname">Nickname</label>
          <input type="text" class="form-control" name="nickname" id="field_nickname" data-cy="nickname" formControlName="nickname" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="grafismoApp.person.graphicsName" for="field_graphicsName">Graphics Name</label>
          <input
            type="text"
            class="form-control"
            name="graphicsName"
            id="field_graphicsName"
            data-cy="graphicsName"
            formControlName="graphicsName"
          />
          <div
            *ngIf="editForm.get('graphicsName')!.invalid && (editForm.get('graphicsName')!.dirty || editForm.get('graphicsName')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('graphicsName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="grafismoApp.person.callname" for="field_callname">Callname</label>
          <input type="text" class="form-control" name="callname" id="field_callname" data-cy="callname" formControlName="callname" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="grafismoApp.person.birthdate" for="field_birthdate">Birthdate</label>
          <div class="input-group">
            <input
              id="field_birthdate"
              data-cy="birthdate"
              type="text"
              class="form-control"
              name="birthdate"
              ngbDatepicker
              #birthdateDp="ngbDatepicker"
              formControlName="birthdate"
            />
            <button type="button" class="btn btn-secondary" (click)="birthdateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="grafismoApp.person.nationality" for="field_nationality">Nationality</label>
          <select class="form-control" id="field_nationality" data-cy="nationality" name="nationality" formControlName="nationality">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="countryOption.id === editForm.get('nationality')!.value?.id ? editForm.get('nationality')!.value : countryOption"
              *ngFor="let countryOption of countriesSharedCollection; trackBy: trackCountryById"
            >
              {{ countryOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
