<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="sponsor">
      <h2 data-cy="sponsorDetailsHeading"><span jhiTranslate="grafismoApp.sponsor.detail.title">Sponsor</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ sponsor.id }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.sponsor.name">Name</span></dt>
        <dd>
          <span>{{ sponsor.name }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.sponsor.logo">Logo</span></dt>
        <dd>
          <div *ngIf="sponsor.logo">
            <a (click)="openFile(sponsor.logo, sponsor.logoContentType)" jhiTranslate="entity.action.open">open</a>
            {{ sponsor.logoContentType }}, {{ byteSize(sponsor.logo) }}
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/sponsor', sponsor.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
