<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="sponsor">
      <h2 data-cy="sponsorDetailsHeading"><span jhiTranslate="grafismoApp.sponsor.detail.title">Sponsor</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ sponsor.id }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.sponsor.name">Name</span></dt>
        <dd>
          <span>{{ sponsor.name }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.sponsor.graphicsName">Graphics Name</span></dt>
        <dd>
          <span>{{ sponsor.graphicsName }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.sponsor.logo">Logo</span></dt>
        <dd>
          <div *ngIf="sponsor.logo">
            <a (click)="openFile(sponsor.logo, sponsor.logoContentType)">
              <img [src]="'data:' + sponsor.logoContentType + ';base64,' + sponsor.logo" style="max-width: 100%" alt="sponsor image" />
            </a>
            {{ sponsor.logoContentType }}, {{ byteSize(sponsor.logo) }}
          </div>
        </dd>
        <dt><span jhiTranslate="grafismoApp.sponsor.monocLogo">Monoc Logo</span></dt>
        <dd>
          <div *ngIf="sponsor.monocLogo">
            <a (click)="openFile(sponsor.monocLogo, sponsor.monocLogoContentType)">
              <img
                [src]="'data:' + sponsor.monocLogoContentType + ';base64,' + sponsor.monocLogo"
                style="max-width: 100%"
                alt="sponsor image"
              />
            </a>
            {{ sponsor.monocLogoContentType }}, {{ byteSize(sponsor.monocLogo) }}
          </div>
        </dd>
        <dt><span jhiTranslate="grafismoApp.sponsor.details">Details</span></dt>
        <dd>
          <span>{{ sponsor.details }}</span>
        </dd>
        <dt><span jhiTranslate="grafismoApp.sponsor.miscData">Misc Data</span></dt>
        <dd>
          <span>{{ sponsor.miscData }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/sponsor', sponsor.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
